#############
/App/Conf/*
/App/Runtime/*
/App/Html/*
/App/uploads/abc1/*
/App/uploads/file1/*
/App/uploads/img1/*
/Data/resource/backupdata/*
/Install/install.lock
!README.md
!/App/uploads/file1/201403/
