#############
/App/Conf/*
/App/Runtime/*
/App/Html/*
/App/uploads/abc1/*
/App/uploads/file1/*
/App/uploads/img1/*
!/App/Conf/README.md
!/App/Runtime/README.md
!/App/Html/README.md
!/App/uploads/abc1/README.md
!/App/uploads/file1/README.md
!/App/uploads/file1/201403/
!/App/uploads/file1/README.md
